spring:
    config:
        activate:
            on-profile: prod

    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: false

    datasource:
        hikari:
            maximum-pool-size: 20

logging:
    level:
        root: warn
        com.anirudhology.eliteengineering.auth: info
        org.springframework.security: warn
        org.hibernate.SQL: warn

jwt:
    access-token-expiration: 600000 # 10 minutes for production