name: api-design-demo

services:
    # Database
    postgres:
        image: postgres:18-alpine
        environment:
            POSTGRES_DB: ecommerce
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin123
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - app-network

    # Redis
    redis:
        image: redis:7-alpine
        command: redis-server --requirepass redis123
        ports:
            - "6379:6379"
        volumes:
            - redis_data:/data
        networks:
            - app-network

    # Auth Service
    auth-service:
        build: ../services/auth-service
        ports:
            - "8002:8002"
        environment:
            DB_HOST: postgres
            DB_PORT: 5432
            DB_NAME: ecommerce
            DB_USERNAME: admin
            DB_PASSWORD: admin123
            REDIS_HOST: redis
            REDIS_PORT: 6379
            REDIS_PASSWORD: redis123
            JWT_SECRET: your-jwt-secret-change-in-production
            SERVER_PORT: 8002
        depends_on:
            - postgres
            - redis
        networks:
            - app-network

    # Orders Service
    # orders-service:
    #     build: ./orders-service
    #     ports:
    #         - "8000:8000"
    #     environment:
    #         DATABASE_URL: postgresql://admin:admin123@postgres:5432/ecommerce
    #         REDIS_URL: redis://:redis123@redis:6379
    #         AUTH_SERVICE_URL: http://auth-service:8002/v1
    #         PORT: 8000
    #     depends_on:
    #         - postgres
    #         - redis
    #         - auth-service
    #     networks:
    #         - app-network

    # # Payments Service
    # payments-service:
    #     build: ./payments-service
    #     ports:
    #         - "8001:8001"
    #     environment:
    #         DATABASE_URL: postgresql://admin:admin123@postgres:5432/ecommerce
    #         REDIS_URL: redis://:redis123@redis:6379
    #         AUTH_SERVICE_URL: http://auth-service:8002/v1
    #         ORDERS_SERVICE_URL: http://orders-service:8000/v1
    #         PORT: 8001
    #     depends_on:
    #         - postgres
    #         - redis
    #         - auth-service
    #         - orders-service
    #     networks:
    #         - app-network

networks:
    app-network:
        driver: bridge

volumes:
    postgres_data:
    redis_data:
